<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <div th:insert="blocks/header"></div>
    <div class="row">
        <div th:switch="${clients}">
            <div class="col-md-6">
                <div th:case="*">
                    <h2 class="my-5">Клиенты</h2>
                    <form method="get" action="/getItem">
                        <input class="form" type="text" name="firstNameClient"/>
                        <button class="btn btn-primary" type="submit">Поиск</button>
                    </form>
                    <table  border="1" class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Адрес</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <th:body th:each="client : ${clients}">
                            <tr>
                                <td th:text="${client.getId}"></td>
                                <td th:text="${client.firstNameClient}"></td>
                                <td th:text="${client.secondNameClient}"></td>
                                <td th:text="${client.middleNameClient}" ></td>
                                <td th:text="${client.clientAddress}"></td>
                                <td><a th:href="'/client/' + ${client.id} + '/edit'" class=" my-1 btn btn-success">Редактировать</a></td>
                                <td><a th:href="'/client/' + ${client.id} + '/remove'" class="btn btn-danger">Удалить</a></td>
                            </tr>
                        </th:body>
                    </table>
                </div>
                <button class="btn btn-primary"><a href="/client/add" style="color: aliceblue; text-decoration: none">Добавить клиента</a></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>